@*Old Navigation bar*@
@*<div class="navbar navbar-isnverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>*@

@*<div class="navbar navbar-isnverse navbar-fixed-top">
    <div class="navbar-header">

        @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Customers", "Index", "Home")
        @Html.ActionLink("Movies", "About", "Home")
        @Html.ActionLink("Register", "Contact", "Home")
        @Html.ActionLink("Log In", "Contact", "Home")
    </div>
    </div>*@

@*Kod za navbar uzet sa bootswatch.com/lumen*@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li>
                @Html.ActionLink("Customers", "Index", "Customers", new { }, new { @class = "nav-link" })
            </li>
            <li>
                @Html.ActionLink("Movies", "Index", "Movies", new { }, new { @class = "nav-link" })
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>